@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply selection:bg-emerald-500 selection:text-black;
}

body {
  @apply bg-[#060807] text-zinc-200 font-sans;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
